body{
    background-image:url(./imgSite/PokemonPF4.jpg);
    background-attachment:fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    
}

h1{
    height: 100px;
    width: 50%;
    font-style: oblique;
    font-family:"Lucida Console", "Courier New", monospace;
    padding-left:100px; 
    text-decoration-line:underline;
    font-size:xx-large;
    color:black;
}

p{
    font-size: large;
    font-family:"Lucida Console", "Courier New", monospace;
    padding-left:20px;
    font-style:initial;
    color:black;
}

#veja{
    padding-left:100px;
    font-style: oblique;
    font-family:"Lucida Console", "Courier New", monospace;
    text-decoration-line:underline;
    font-size:x-large;
    color:black;
}

#l1{
    position: absolute;
    display: inline;
    top: 396px;
    left:px;
    width:400px;
    height:400px;
    font-family:"Lucida Console", "Courier New", monospace;
    
}


#l2{
    position: absolute;
    display: inline;
    top: 395px;
    left: 330px;
    width:400px;
    height:400px;
    font-family:"Lucida Console", "Courier New", monospace;
}

a{
    font-size:20px;
    font-family:"Lucida Console", "Courier New", monospace;
}

#barra{
    border-color:black;
    height:9px;
    background:black;
     margin-bottom: 50px;
}


