*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}   

a:hover{
    opacity: 0.7;
}

.logo{
   font-size: 24px;
   text-transform: uppercase;  /*transformar o texto em maiusculo*/
   letter-spacing: 4px; /*espaçamento de letras*/
}

nav{
    display: flex;
    justify-content: space-around; /*Ira fazer com que o espaço ao redor seja a metade do espaço entre eles*/
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 10vh; /*vh ou vw é uma medida responsiva que se adapta a altura ou largura da tela de visualização do usuário, sendo que 100 cobre a tela inteira*/
}

main{
    background: url("./imgSite/JS.png") no-repeat center center; /*center center são os eixos X e Y respectivamente do site*/
    background-size: cover; /*Caso a resolução do monitor for maior do que a imagem*/
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
    position: sticky;
    top: 0px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    /*Apenas para afastar um menu do outro*/
}

.mobile-menu{
    display: none;
    cursor: pointer; /*Apenas para mostrar a mão do mouse*/
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden; /*Agora não temos mais o Quadrado dos links aparecendo na tela*/
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /*Espalhando os links pelo espaço disponível*/
        transform: translateX(100%); /*O Quadrado onde ficara as opções do menu irá para fora, porém para o site não ficar com a barra de rolagem vertical, aplicamos overflow-x:hidden no body*/
        transition: transform 0.3s ease-in; /*Para a animação não ficar tão seca*/
    }
    .nav-list li{
        margin-left: 0;/*Para os links ficarem corretamente alinhados ao centro*/
    }
    .mobile-menu{
        display: block; /*O layout se ajusta */
    }
}

.nav-list.active /*active é a classe que esta no JavaScript*/{
    transform: translateX(0);
}

@keyframes navLinkFade {
    /*Translação da esquerda para direita, voltando para a original, dando a impressão que surgiram devagar, por isso o nome Fade*/
    from{
        opacity: 0;
        transform: translateX(50px) ;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

NaveFrame{
    
}