
*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}   

a:hover{
    opacity: 0.7;
}

.logo{
   font-size: 24px;
   text-transform: uppercase;  /*transformar o texto em maiusculo*/
   letter-spacing: 4px; /*espaçamento de letras*/
}

/*___________Menu___________*/
nav{
    display: flex;
    justify-content: space-around; /*Ira fazer com que o espaço ao redor seja a metade do espaço entre eles*/
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #232338;
    height: 10vh; /*vh ou vw é uma medida responsiva que se adapta a altura ou largura da tela de visualização do usuário, sendo que 100 cobre a tela inteira*/
}

.nav-list{
    list-style: none;
    display: flex;
    position: sticky;
    top: 0px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    /*Apenas para afastar um menu do outro*/
}

/*______Background______*/
body{
    background-color: #2a2a44; /*center center são os eixos X e Y respectivamente do site*/
    background-size: cover; /*Caso a resolução do monitor for maior do que a imagem*/
    height: 92vh;
    background-attachment:scroll;
}

/*______Maneira de rolamento da tela______*/
html{
    scroll-behavior: smooth;
}

/*______Atividades______*/
.listas{
    list-style: none;
    display: inline-block;
    padding-top: 20px;
    padding: 7px;
    font-weight: bold;
}

.listas li{
    letter-spacing: 2.3px;
    padding: 10px;
}

.listas:hover{
    color: rgb(71, 72, 77);
}

/*______Tópicos______*/
section{
    
    padding: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dadada;
}

section p{
    border:8px;
    display: flex;
    width: 960px;
    padding-top: 13px;
    padding-left: 15px;
    letter-spacing: 2px;
    font-size: 19px;
    text-align: justify;
    word-spacing: 4px; /*Define o espaçamento entre as letras de um paragrafo*/
    line-height: 34px ; /*Define o espaçamento entre linhas em um parágrafo*/
}

/*______Titulo da apresentação______*/
.AP{
    padding-top: 17px;
}

/*______Título de cada tópico______*/
.AtiviTitulo{
    padding: 17px;
}

/*______O básico dos títulos_____*/
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 16px;
}

/*______Ícones dos tópicos______*/
i{
    padding: 10px;
    font-size: 29px;
    color: #dddddd;
    text-shadow: 0px 0px 30px #ffffff;
    animation: flutu 10s infinite ease-in-out;
}

@keyframes flutu {
    0%, 100%{
        transform: translateY(0px) ;
    }
    50%{
        transform: translateY(-4px);
    }
    75%{
        transform: translateY(2px);
    }
}

