/*
-> Cores usadas:
teste1:
rgb(49, 27, 177);
rgb(32, 18, 110);
rgb(70, 70, 70);
rgb(148, 148, 148);

teste2:
rgb(19, 19, 19);
rgb(27, 27, 27);
rgb(0, 238, 255);
rgb(0, 174, 255);
rgb(104, 104, 104);
rgb(196, 196, 196);

NEON azul:
rgb(19, 19, 19);
rgb(10, 10, 10);
rgba(0, 238, 255, 0.897);
rgba(0, 238, 255, 0.836);
rgb(0, 238, 255);

NEON vermelho:
rgb(red, red, red);
rgba(255, 0, 0, 0.822);
rgb(197, 0, 0);
rgb(255, 0, 0);
*/
/*
Sobre a forma abreviada de Animation:

animation: name duration timing-function delay interation-count direction; 
*/
/*________Animations Structures_______*/
@keyframes animationMoveToRight {
    0% {
        transform: translateX(-1500px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRotateImg {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes animationMoveToBottom {
    0% {
        opacity: 0;
        transform: translateY(-1500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*_______Essêncial_______*/
* {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.4rem;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(19, 19, 19);
}

header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
}

/*_______NavBar_______*/
nav {
    background-color: rgb(19, 19, 19);
    border-bottom: 2px solid rgba(255, 0, 0, 0.822);
    box-shadow: 1px 10px 25px red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.7rem;/*11.2px = 0.7rem*/
}

.div_logo, .div_opcoesMenu, .div_redeSocial {
    display: flex;
}

/*__Logo__*/
.div_logo > h2 {
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
}

/*__Opções do Menu__*/
.div_opcoesMenu{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    list-style: none;
    flex-direction: row;
    float: left;
    margin-right: 49px;/*49px = 5vw*/
    margin-left: 49px;/*49px = 5vw*/
}

.div_opcoesMenu > li {
    max-width: 70vw;
    padding: 25.6px;/*25.6px = 1.6rem*/
    font-size: 1.2rem;
}

.div_opcoesMenu > li > a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
    text-shadow: 1px 1px 15px rgb(255, 0, 0);

    background-image: none;
    transition: 
    background-position 0.5s,
}

.div_opcoesMenu > li > a:hover {
    background-image: linear-gradient(to right, transparent 50%, rgba(31, 31, 31, 0.801) 50%);
    background-size: 200%;
    background-position: -100%;
    border-radius: 200px;
    color: white;
}

/*__Github e Instagram__*/
.div_redeSocial > a {
    margin: auto;
    display: flex;
    padding: 8px;/*8px = 0.5rem*/
}

.div_redeSocial > a > img {
    max-width: 70%;
    opacity: 0.8;
    transition: all 0.3s;
}

.div_redeSocial > a > img:hover {
    transform: scale(1.2);
    opacity: 1;
}

/*__Botões de troca de tema__*/
.section_changeCSS {
    padding: 20px;
    background-color: rgb(27, 27, 27);
    border-bottom: 3px solid rgb(197, 0, 0);
    box-shadow: 0px 0px 10px red;
}

.div_changeCSS {
    text-align: center;
}

.div_changeCSS > button {
    margin: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    border: none;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.div_changeCSS > .btn-normal {
    color: whitesmoke;
    box-shadow: inset 0px 0px 12px whitesmoke;
    background-color: rgb(19, 19, 19);
    transition: all 0.5s;
}

.div_changeCSS > .btn-normal:hover {
    box-shadow:inset 0px 0px 60px whitesmoke;
}

.div_changeCSS > .btn-neonAzul {
    color: rgb(0, 174, 255);
    box-shadow: inset 0px 0px 12px rgb(0, 174, 255);
    text-shadow: 1px 0px 5px rgb(0, 174, 255);
    background-color: rgb(10, 10, 10);
    transition: all 0.5s;
}

.div_changeCSS > .btn-neonAzul:hover {
    box-shadow: inset 0px 0px 60px rgb(0, 174, 255);
}

.div_changeCSS > .btn-neonVermelho {
    color: red;
    box-shadow: inset 0px 0px 12px red;
    text-shadow: 1px 0px 5px red;
    background-color: rgb(10, 10, 10);
    transition: all 0.5s;
}

.div_changeCSS > .btn-neonVermelho:hover {
    box-shadow: inset 0px 0px 60px red;
}

/*_______Primeira Section (Sobre Mim)_______*/
.section_sobreMim {
    padding-top: 80px;/*80px = 5rem*/
    padding-bottom: 160px;/*160px = 10rem*/
}

.section_sobreMim > .div_sobreMim {
    display: flex;
    justify-content: center;
}

.div_sobreMim {
    padding: 128px;/*128px = 8rem*/
}

/*__borda__*/
.div_bordaSobreMim {
    display: flex;
    background-color: rgb(19, 19, 19);
    border: 5px solid rgb(197, 0, 0);
    border-radius: 70px;
    box-shadow: 1px 1px 23px rgb(255, 0, 0);
    padding: 56px;/*56px = 3.5rem*/
    animation: animationMoveToRight 1.7s ease-out;
}

/*__imagem__*/
.div_imgSobreMim > img {
    max-width: 240px;/*240px = 15rem*/
    border-radius: 200px;
    border: 2px solid rgb(197, 0, 0);
    box-shadow: inset 1px 1px 10px rgb(197, 0, 0);
    transition: all 1.5s;
    animation: animationRotateImg 1.5s 1.3s;
}

.div_imgSobreMim > img:hover {
    transform:rotateY(360deg);
}

/*__texto__*/
.div_textSobreMim {
    margin: 32px;/*32px = 2rem*/
}

.div_textSobreMim > h2 {
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
}

.div_textSobreMim > p {
    max-width: 720px;/*720px = 45rem*/
    font-size: 1.2rem;
    line-height: 27.2px;/*27.2px = 1.7rem*/
    color: whitesmoke;
    text-shadow: 1px 0px 5px whitesmoke;
}

/*_______Animação de scroll_______*/

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    animation: animationMoveToRight 1.7s ease-in-out;
}

/*_______Segunda Section (Conhecimentos)_______*/
.section_conhecimentos {
    margin: 0 auto;
    padding-top: 80px;/*80px = 5rem*/
    padding-bottom: 400px;/*400px = 25rem*/
    text-align: center;
}

/*___Titulo e texto___*/
.div_tituloConhecimentos > h2 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
}

.div_tituloConhecimentos > p {
    font-size: 1.4rem;
    padding-top: 17.6px;/*17.6px = 1.1rem*/
    padding-bottom: 19.2px;/*19.2px = 1.2rem*/
    color: whitesmoke;
    text-shadow: 1px 0px 5px whitesmoke;
}

/*___Conhecimentos___*/
.div_conhecimentos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;/*1120px = 70rem*/
    margin: 0 auto;
    justify-content: center;
}

.div_conhecimentos > div {
    border: 4px solid rgb(197, 0, 0);
    border-radius: 5px;
    box-shadow: 1px 1px 20px red;
    padding: 32px;/*32px = 2rem*/
    margin: 38px;/*38px = 3rem*/
    background-color: rgb(10, 10, 10);
    transition: all 0.5s;
}

.div_conhecimentos > div:hover {
    transform: scale(1.12);
    cursor: pointer;
    box-shadow: 1px 1px 23px red;
}

.div_conhecimentos > div > h4 {
    font-size: 1.3rem;
    margin-top: -8px;/*-8px = -0.5rem*/
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
    /*color: rgb(19, 19, 19);*/
}

.div_conhecimentos > div > p {
    margin-top: -8px;/*-8px = -0.5rem*/
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
    /*color: rgb(104, 104, 104);*/
}

.div_conhecimentos > div > img {
    max-width: 80px;/*80px = 5rem*/
    max-height: 80px;/*80px = 5rem*/
    margin: 24px;/*24px = 1.5rem*/
    padding: 0;
}

/*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
.section_projetos {
    padding-top: 50px;/*400px = 25rem*/
    padding-bottom: 200px;/*240px = 15rem*/
    text-align: center;
}

.section_projetos > div > h4 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
}

.section_projetos > div > p {
    font-size: 1.4rem;
    padding-top: 11.2px;/*11.2px = 0.7rem*/
    padding-bottom: 19.2px ;/*19.2px = 1.2rem*/
    color: whitesmoke;
    text-shadow: 1px 0px 10px whitesmoke;
}

.section_projetos > div > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 32px;/*32px = 2rem*/
}

.section_projetos > div > ul > li {
    background-color: rgb(10, 10, 10);
    padding: 20.8px;/*20.8px = 1.3rem*/
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    border: 2px solid rgb(197, 0, 0);
    box-shadow: 1px 0px 15px red;
    margin: 16px;/*16px = 1rem*/
}

.section_projetos > div > ul > li:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 30px red;
}

.section_projetos > div > ul > li > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
    padding: 16px;/*16px = 1rem*/
}

/*_______Quarta Section (Atividades de Informática)_______*/
.section_AtivInfo {
    margin: 0 auto;
    padding-top: 240px;/*240px = 15rem*/
    text-align: center;
}

.backgroundSection {
    background: linear-gradient( rgb(19, 19, 19), rgb(0, 0, 0) 30%, rgb(0, 0, 0) 70%, rgb(19, 19, 19));
}

.section_AtivInfo > div > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*__Listas__*/
.list {
    padding: 32px;/*32px = 2rem*/
    list-style: none;
}

.list > div > h4 {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
    padding: 17.6px;/*17.6px = 1.1rem*/
    border-radius: 15px;
    background-color: rgb(10, 10, 10);
    margin-top: 16px;/*16px = 1rem*/
    cursor: pointer;
    border: 2px solid rgb(197, 0, 0);
    box-shadow: 1px 0px 15px red;
    transition: all 0.5s;
}

.list > div > h4:hover {
    box-shadow: 1px 1px 25px red;
}

.list > div > ul {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    box-shadow: 1px 10px 10px red;
    border: 2px solid rgb(197, 0, 0);
    border-top: none;
    border-radius: 15px;
    padding: 16px;/*16px = 1rem*/
}

.list > div > ul > li > a{
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 0px 10px whitesmoke;
    font-size: 1.2rem;
    cursor: default;
    border-radius: 20px;
    padding: 11.2px;/*11.2px = 0.7rem*/
}

.list > div > ul > li {
    list-style: none;
    padding: 12.8px;/*12.8px = 0.8rem*/
    transition: all 0.3s;
}

.list > div > ul > li:hover{
    transform: scale(1.1);
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(197, 0, 0);
    box-shadow: 1px 1px 20px red;
}

.list > div > h4:hover + ul {
    opacity: 1;
    pointer-events: auto;
}

/*__Introdução__*/
.div_tituTextAtivInfo > h2 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 0, 0);
}

.div_tituTextAtivInfo > p {
    font-size: 1.4rem;
    padding-top: 17.6px;/*17.6px = 1.1rem*/
    padding-bottom: 19.2px;/*19.2px = 1.2rem*/
    color: whitesmoke;
    text-shadow: 1px 0px 10px whitesmoke;
}

/*_______Mobile Menu_______*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*_______RESPONSIVIDADE_______*/
/*Para telas menores*/
@media (max-width: 320px) { 
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 30px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/
    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        margin: auto;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 10px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 0.8rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 60%
    }

    /* __Botões de troca de tema__ */
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.6rem;
        padding: 3px;
    }

    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo > h2 {
        font-size: 1.3rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .div_sobreMim {
        padding: 10px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
        border: 2px solid rgb(197, 0, 0);
        box-shadow: 1px 1px 20px rgb(255, 0, 0);
    }

    /*__imagem__*/
    .div_imgSobreMim {
        margin: 0 auto;
        padding-top: 40px;
    }

    .div_imgSobreMim > img {
        max-width: 130px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim {
        margin: 20px;
    }

    .div_textSobreMim > h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 0.7rem;
        text-align: justify;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 40px;
        padding-bottom: 80px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        max-width: 270px;
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 1.2rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        border: 2px solid rgb(197, 0, 0);
        box-shadow: 1px 1px 10px red;
        padding: 10px;
        margin: 12px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 0.7rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.5rem;
    }

    .div_conhecimentos > div > img {
        max-width: 40px;
        max-height: 40px;
        margin: 20px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 90px;
        padding-bottom: 90px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    .section_projetos > div > h4, p {
        max-width: 270px;
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 1.4rem;
    }

    .section_projetos > div > p {
        font-size: 0.8rem;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 1px;
    }

    .section_projetos > div > ul > li {
        padding: 5px;
        margin: 5px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 0.7rem;
        padding: 5px;
    }

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 30px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }


    /*__Introdução__*/
    .div_tituTextAtivInfo {
        max-width: 270px;
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 1.4rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 0.8rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    /*__Listas__*/
    .list {
        padding: 2px;
    }

    .list > div > h4 {
        font-size: 0.6rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.7rem;
        padding: 1px;
    }

    .list > div > ul > li {
        padding: 10px;
    } 
}

/*Para telas menores e médias*/
@media (min-width: 321px) and (max-width: 375px) {
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 30px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/
    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        margin: auto;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 15px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 0.8rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 60%
    }

    /* __Botões de troca de tema__ */
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.6rem;
        padding: 3px;
    }

    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo > h2 {
        font-size: 1.3rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .div_sobreMim {
        padding: 10px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
        border: 2px solid rgb(197, 0, 0);
        box-shadow: 1px 1px 20px rgb(255, 0, 0);
    }

    /*__imagem__*/
    .div_imgSobreMim {
        margin: 0 auto;
        padding-top: 40px;
    }

    .div_imgSobreMim > img {
        max-width: 130px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim {
        margin: 20px;
    }

    .div_textSobreMim > h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 0.7rem;
        text-align: justify;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 40px;
        padding-bottom: 90px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        max-width: 270px;
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 1.2rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        border: 2px solid rgb(197, 0, 0);
        box-shadow: 1px 1px 10px red;
        padding: 10px;
        margin: 12px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 0.7rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.5rem;
    }

    .div_conhecimentos > div > img {
        max-width: 40px;
        max-height: 40px;
        margin: 20px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 90px;
        padding-bottom: 90px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    .section_projetos > div > h4, p {
        max-width: 270px;
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 1.4rem;
    }

    .section_projetos > div > p {
        font-size: 0.8rem;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 1px;
    }

    .section_projetos > div > ul > li {
        padding: 5px;
        margin: 5px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 0.7rem;
        padding: 5px;
    }

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 40px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    /*__Introdução__*/
    .div_tituTextAtivInfo {
        max-width: 270px;
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 1.4rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 0.8rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }


    /*__Listas__*/
    .list {
        padding: 3px;
    }

    .list > div > h4 {
        font-size: 0.6rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.8rem;
        padding: 1px;
    }

    .list > div > ul > li {
        padding: 10px;
    } 
}

/*Para telas médias e grandes*/
@media (min-width: 376px) and (max-width: 425px) {
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 40px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/
    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        margin: auto;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 15px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 0.9rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 60%
    }

    /* __Botões de troca de tema__ */
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
        justify-content: center;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.6rem;
        padding: 3px;
    }

    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo > h2 {
        font-size: 1.5rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 70px;
        padding-bottom: 95px;
    }

    .div_sobreMim {
        padding: 10px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
        border: 3px solid rgb(197, 0, 0);
        box-shadow: 1px 1px 20px rgb(255, 0, 0);
    }

    /*__imagem__*/
    .div_imgSobreMim {
        margin: 0 auto;
        padding-top: 40px;
    }

    .div_imgSobreMim > img {
        max-width: 150px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim {
        margin: 20px;
    }

    .div_textSobreMim > h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 0.8rem;
        text-align: justify;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 50px;
        padding-bottom: 100px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        max-width: 280px;
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 1.5rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        border: 3px solid rgb(197, 0, 0);
        box-shadow: 1px 1px 10px red;
        padding: 11px;
        margin: 15px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 0.8rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.6rem;
    }

    .div_conhecimentos > div > img {
        max-width: 40px;
        max-height: 40px;
        margin: 20px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 110px;
        padding-bottom: 110px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }


    .section_projetos > div > h4, p {
        max-width: 280px;
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 1.5rem;
    }

    .section_projetos > div > p {
        font-size: 1rem;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 1px;
    }

    .section_projetos > div > ul > li {
        padding: 8px;
        margin: 5px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 0.85rem;
        padding: 5px;
    }  

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 50px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    /*__Introdução__*/
    .div_tituTextAtivInfo {
        max-width: 280px;
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 1.5rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 1rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    /*__Listas__*/
    .list {
        padding: 4px;
    }

    .list > div > h4 {
        font-size: 0.6rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.8rem;
        padding: 1px;
    }

    .list > div > ul > li {
        padding: 10px;
    }  
}

/*Para telas em paisagem*/
@media (max-width: 870px) and (orientation: landscape) {
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 30px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/
    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        margin: auto;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 5px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 0.9rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 50%
    }

    /* __Botões de troca de tema__ */
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
        justify-content: center;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.8rem;
        padding: 7px;
    }

    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo {
        padding: 0;
        margin: 0 auto;
    }
    
    .div_logo > h2 {
        font-size: 1.3rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 40px;
        padding-bottom: 95px;
    }

    .div_sobreMim {
        padding: 10px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
        justify-content: center;
    }

    /*__imagem__*/
    .div_imgSobreMim {
        padding-top: 40px;
    }

    .div_imgSobreMim > img {
        max-width: 150px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim {
        margin: 20px;
    }

    .div_textSobreMim > h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 0.8rem;
        text-align: justify;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 50px;
        padding-bottom: 100px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        max-width: 450px;
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 1.5rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        padding: 11px;
        margin: 15px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 0.8rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.6rem;
    }

    .div_conhecimentos > div > img {
        max-width: 40px;
        max-height: 40px;
        margin: 20px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 110px;
        padding-bottom: 110px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }


    .section_projetos > div > h4, p {
        max-width: 450px;
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 1.5rem;
    }

    .section_projetos > div > p {
        font-size: 1rem;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 1px;
    }

    .section_projetos > div > ul > li {
        padding: 15px;
        margin: 5px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 0.85rem;
        padding: 5px;
    } 

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 50px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    /*__Introdução__*/
    .div_tituTextAtivInfo {
        max-width: 450px;
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 1.5rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 1rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    /*__Listas__*/
    .list {
        padding: 4px;
    }

    .list > div > h4 {
        font-size: 0.6rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.8rem;
        padding: 1px;
    }

    .list > div > ul > li {
        padding: 10px;
    } 
}

/*Para tablets*/
@media (min-width: 426px) and (max-width: 638px) {
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 40px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/

    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 15px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 0.9rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 60%
    }

    /*__Botão da troca de tema__*/
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
        justify-content: center;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.8rem;
        padding: 7px;
    }

    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo > h2 {
        font-size: 1.5rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 70px;
        padding-bottom: 95px;
    }

    .div_sobreMim {
        padding: 10px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
    }

    /*__imagem__*/
    .div_imgSobreMim {
        margin: 0 auto;
        padding-top: 40px;
    }

    .div_imgSobreMim > img {
        max-width: 150px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim {
        margin: 20px;
    }

    .div_textSobreMim > h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 0.8rem;
        text-align: justify;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 50px;
        padding-bottom: 100px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        max-width: 400px;
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 1.5rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        padding: 11px;
        margin: 15px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 0.8rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.6rem;
    }

    .div_conhecimentos > div > img {
        max-width: 40px;
        max-height: 40px;
        margin: 20px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 120px;
        padding-bottom: 120px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }


    .section_projetos > div > h4, p {
        max-width: 400px;
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 1.5rem;
    }

    .section_projetos > div > p {
        font-size: 1rem;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 1px;
    }

    .section_projetos > div > ul > li {
        padding: 8px;
        margin: 5px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 0.85rem;
        padding: 5px;
    }

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 50px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    /*__Introdução__*/
    .div_tituTextAtivInfo {
        max-width: 400px;
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 1.5rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 1rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    /*__Listas__*/
    .list {
        padding-left: 17.7px;
        padding-right: 17.7px;
    }

    .list > div > h4 {
        font-size: 0.6rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.8rem;
        padding: 22px;
    }

    .list > div > ul > li {
        padding: 10px;
    }    
}

/*Para Tablets*/
@media (min-width: 638px) and (max-width: 768px) {
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 40px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/

    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 15px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 0.9rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 60%
    }

    /*__Botão para troca de tema__*/
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
        justify-content: center;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.8rem;
        padding: 7px;
    }

    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo > h2 {
        font-size: 1.5rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 70px;
        padding-bottom: 95px;
    }

    .div_sobreMim {
        padding: 10px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
    }

    /*__imagem__*/
    .div_imgSobreMim {
        margin: 0 auto;
        padding-top: 40px;
    }

    .div_imgSobreMim > img {
        max-width: 150px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim {
        margin: 20px;
    }

    .div_textSobreMim > h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 0.8rem;
        text-align: justify;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 50px;
        padding-bottom: 100px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        max-width: 400px;
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 1.5rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        padding: 11px;
        margin: 15px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 0.8rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.6rem;
    }

    .div_conhecimentos > div > img {
        max-width: 40px;
        max-height: 40px;
        margin: 20px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 130px;
        padding-bottom: 130px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }


    .section_projetos > div > h4, p {
        max-width: 400px;
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 1.5rem;
    }

    .section_projetos > div > p {
        font-size: 1rem;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 1px;
    }

    .section_projetos > div > ul > li {
        padding: 8px;
        margin: 5px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 0.85rem;
        padding: 5px;
    }

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 50px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    /*__Introdução__*/
    .div_tituTextAtivInfo {
        max-width: 400px;
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 1.5rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 1rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    /*__Listas__*/
    .list {
        padding-left: 30px;
        padding-right: 30px;
    }

    .list > div > h4 {
        font-size: 0.6rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.8rem;
        padding: 35px;
    }

    .list > div > ul > li {
        padding: 10px;
    }    
}

@media (min-width: 769px) and (max-width: 1510px) {
    h2, h3, h4 {
        line-height: 2rem;
    }

    /*_______Mobile Menu_______*/
    .div_opcoesMenu {
        display: none;
    }

    .div_redeSocial {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon > button > img {
        max-width: 50px;
        margin: 18px;
    }
    
    /*_______Opções do Menu_______*/
    .mobile-menu > .div_opcoesMenu {
        display: block;
        padding-top: 16px;
        text-align: center;
        list-style: none;
    }

    .mobile-menu > .div_opcoesMenu > li {
        flex-direction: column;
        margin: 0px;
        padding: 15px;
    }

    .mobile-menu > .div_opcoesMenu > li > a {
        font-size: 1.2rem;
        transition: none;
        line-height: 2rem;
        padding: 0;
    }
    /*__Github e Instagram__*/
    .mobile-menu > .div_redeSocial {
        display: block;
        text-align: center;
    }

    .mobile-menu > .div_redeSocial > a {
        display: inline-block;
        margin-top: 30px;
        padding: 0px;
    }

    .mobile-menu > .div_redeSocial > a > img {
        max-width: 70%;
    }

    /*__Botão para troca de tema__*/
    .section_changeCSS {
        animation: animationMoveToBottom 1.5s ease-in;
    }

    .section_changeCSS > .div_changeCSS {
        display: flex;
        justify-content: center;
    }

    .section_changeCSS > .div_changeCSS > button {
        font-size: 0.8rem;
        padding: 7px;
    }
    
    /*___JS___*/
    .open {
        display: block;
    }

    /*_______Seções animation_______*/
    .section_sobreMim {
        animation: animationMoveToBottom 1.3s ease-in;
    }

    .section_conhecimentos {
        animation: animationMoveToBottom 0.8s ease-in;
    }

    .section_AtivInfo {
        animation: animationMoveToBottom 0.7s ease-in;
    }

    .section_projetos {
        animation: animationMoveToBottom 0.5s ease-in;
    }

    /*_______NavBar Titulo_______*/    
    .div_logo > h2 {
        font-size: 2rem;
        color: whitesmoke;
    }

    /*_______Primeira Section (Sobre Mim)_______*/
    .section_sobreMim {
        padding-top: 70px;
        padding-bottom: 95px;
    }

    .div_sobreMim {
        padding: 50px;
    }

    /*__borda__*/
    .div_bordaSobreMim {
        padding: 70px;
        display: flex;
        flex-wrap: wrap;
        animation: none;
        justify-content: center;
    }

    /*__imagem__*/
    .div_imgSobreMim {
        padding-top: 40px;
        margin: 0 auto;
    }

    .div_imgSobreMim > img {
        max-width: 250px;
        animation: animationRotateImg 1.5s 1.3s;
    }
    
    /*__texto__*/
    .div_textSobreMim > h2 {
        font-size: 2rem;
        text-align: center;
    }

    .div_textSobreMim > p {
        font-size: 1.2rem;
        text-align: justify;
        line-height: 2rem;
    }

    /*_______Segunda Section (Conhecimentos)_______*/
    .section_conhecimentos {
        padding-top: 50px;
        padding-bottom: 100px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }
    
    /*___Titulo e texto___*/
    .div_tituloConhecimentos {
        margin: 0 auto;
    }

    .div_tituloConhecimentos > h2 {
        font-size: 2rem;
    }

    .div_tituloConhecimentos > p {
        font-size: 1.3rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    /*___Conhecimentos___*/
    .div_conhecimentos > div {
        padding: 20px;
        margin: 15px;
    }

    .div_conhecimentos > div > h4 {
        font-size: 1.1rem;
        margin-top: -8px;
    }

    .div_conhecimentos > div > p {
        font-size: 0.8rem;
    }

    .div_conhecimentos > div > img {
        max-width: 50px;
        max-height: 50px;
        margin: 30px;
    }

    /*_______Terceira Section (Projetos do estágio ou pessoal)_______*/
    .section_projetos {
        padding-top: 140px;
        padding-bottom: 160px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }


    .section_projetos > div > h4, p {
        margin: 0 auto;
    }

    .section_projetos > div > h4 {
        font-size: 2rem;
    }

    .section_projetos > div > p {
        font-size: 1.3rem;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .section_projetos > div > ul {
        padding-top: 5px;
    }

    .section_projetos > div > ul > li {
        padding: 15px;
        margin: 10px;
    }

    .section_projetos > div > ul > li > a {
        font-size: 1rem;
        padding: 10px;
    }  

    /*_______Quarta Section (Atividades de Informática)_______*/
    .section_AtivInfo {
        padding-top: 50px;
        border-top: 2px solid rgb(197, 0, 0);
        box-shadow: 0px 0px 10px red;
    }

    /*__Introdução__*/
    .div_tituTextAtivInfo {
        margin: 0 auto;
    }

    .div_tituTextAtivInfo > h2 {
        font-size: 2rem;
    }

    .div_tituTextAtivInfo > p {
        font-size: 1.3rem;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    /*__Listas__*/
    .list {
        padding: 5px;
    }

    .list > div > h4 {
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list > div > ul > li > a{
        font-size: 0.9rem;
        padding: 5px;
    }

    .list > div > ul > li {
        padding: 0px;
    }  
}