*{
    text-align: justify;
}

body{
    background-color: rgb(255, 242, 227);
}
main{
    position: relative;
    top: 60px;
}

h2{
    text-align: center;
    text-decoration: underline solid;
    color: #021F59;
    font-size: xx-large; 
}
.divcuri{
    font-family: Arial, Helvetica, sans-serif;
}

.divcuri p{
    line-height: 170%;
    font-size: larger;
    color: black;
    width: auto;
    height: auto;
    max-width: 1000px;
    position: relative;
    top: 20px;
    margin: auto;
}

.full{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 20px;
}

.full p{
    font-size: larger;
    margin: auto;
    color: black;
    width: auto;
    height: auto;
    max-width: 900px;
    line-height: 170%;
    position: relative;
    top: 20px;
}

.full div img{
    border: 5px solid #021F59;
    position: relative;
    width: auto;
    height: auto;
    max-width: 750px;
    max-height: 700px;
}

.full div{
    position: relative;
    text-align: center;
    top: 70px;
}