*{
    margin: auto;
}

body{
    position: relative;
    top: -5px;
}
/*
.fundo{
    position: absolute;
    display:inline-block;
    left: 300px;
    width: 725px;
    height: 700px;
    text-align: center;
    background-color: darkkhaki;
}
*/
.introdução{
    position: relative;
    left: 10px;
    width: 670px;
    padding: 20px;
    font-size: 22px;
    margin-top: 30px;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(60deg, #FF5B00, #D4D925, #FFEE63);
    background-size: 180% 180%;
    border-radius: 20px;
    color:black;
}

.introdução h1{
    font-size: 60px;
    text-align: center;
    position: relative;
    left: 10px;
}

.lista{
    width: 700px;
    text-align: justify;
    font-size: 23px;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(87deg, #FF5B00, #D4D925, #FFEE63);
    background-size: 180% 180%;
    padding: 5px;
    left: 10px;
    height: 760px;
    border-radius: 20px;
}

.lista ul li{
    margin-top: 45px;
    list-style:disc;
    color: black;
}