

h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    position: relative;
    top: 20px;
    background:linear-gradient(60deg, #FF5B00, #D4D925);
    background-size: 200% 200%;
    border-radius: 20px;
    padding: 10px;
    width: 1130px;
    left: 70px;
    color:black;
}

h2{
    text-decoration: underline;
}

div{
    display: inline-block;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.seção1{
    margin: auto;
    text-align:center;
    position: relative;
    width: 1150px;
    background:linear-gradient(60deg, #FF5B00, #D4D925);
    background-size: 200% 200%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.lab01{
    position: relative;
    top: -67px;
    width: 310px;
    height:365px;
    left: -30px;
    border: 7px solid #D4D925;
    border-radius: 8px;
    color:black;
}

.lab02{
    position: relative;
    top: 55px;
    height: 365px;
    left: 3px;
    width: 310px;
    border: 7px solid #D4D925;
    border-radius: 8px;
    color:black;
}

.labxml{
    position: relative;
    top: -10px;
    left: 35px;
    width: 310px;
    height:365px;
    border: 7px solid #D4D925;
    border-radius: 8px;
    color:black;
}

li{
    list-style: none;
    padding: 9px;
    font-size: 20px;
    position: relative;
    left: -20px;
}

a{
    text-decoration-line: none;
    color:black;
}

a:hover{
    background-color: #D4D925;
    text-decoration-line: underline;
    border-radius: 10px;
    padding: 5px;
}

.seção2{
    margin: auto;
    text-align: center;
    position: relative;
    width: 1150px;
    background:linear-gradient(60deg, #FF5B00, #D4D925);
    background-size: 200% 200%;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}

.Ativiestilização{
    position: relative;
    top: -28px;
    border: 7px solid  #D4D925;
    width: 320px;
    height: 250px;
    left: 7px;
    border-radius: 8px;
    color:black;
}

