
body{
    overflow-x: hidden;
}

.textobanner{
    width: 600px;
    text-align: justify;
    font-size: 20px;
    position: relative;
    top: 70px;
    color: rgb(248, 238, 218);
}

.bannerborder{
    border: 5px solid  #FF7A00;
    width: 670px;
    height: 270px;
    border-color:   #FF7A00;
}

h1{
    padding: 10px;
    position: relative;
    top: -50px;
    text-align: center;
    text-decoration-line:underline;
    font-size: 40px;
}

header div p{
    text-indent: 30px;
}

.banner{
    background:linear-gradient(60deg, #864000, #D44000, #FF7A00, #FFEFCF);
    background-size: 300% 300%;
    padding: 110px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: animação 6s infinite;
}

@keyframes animação{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

main{
    background:linear-gradient(-10deg,  #864000, #D44000, #FF7A00, #FFEFCF);
    background-size: 200% 200%;
    animation: animação 6s infinite;
    height: 1300px;
    width: 1350px;
}

main .menu{
    background-color:#FF5B00;
    padding: 24px;
}

main section{
    background:linear-gradient(80deg,  #864000, #D44000, #FF7A00, #FFEFCF);
    background-size: 200% 200%;
    animation: animação 6s infinite;
}

.menu ul{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 260px;
    padding-right: 300px;
}

.menu ul a{
    text-decoration-line: none;
    display: block;
    color: rgb(248, 238, 218);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main .menu ul a:hover{
    background-color: #D44000;
    text-decoration-line: underline;
    border-radius: 10px;
    padding: 5px;
}

*{
    margin: auto;
}