*{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body{
    background-color: rgb(255, 242, 227);
}
main{
    position: relative;
    top: 60px;
}

h2{
    text-align: center;
    text-decoration: underline solid;
    color: #021F59;
    font-size: xx-large; 
}

.divsobre p{
    line-height: 170%;
    color: black;
    font-size: larger;
    position: relative;
    top: 30px;
    width: auto;
    height: auto;
    max-width: 960px;
}

.população{
    position: relative;
    top: 70px;
}

.população p{
    line-height: 200%;
    color: black;
    font-size: larger;
    position: relative;
    top: 30px;
    width: auto;
    height: auto;
    max-width: 850px;
}

.população div{
    position: relative;
    text-align: center;
}

.população div img{
    border: 5px solid #021F59;
    position: relative;
    top: 70px;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}